xgboost
lightgbm
scikit-learn
requests
acryl-datahub
aiofiles
aiohttp
aiosignal
anomalo
anyio
apache-airflow-providers-amazon
apache-airflow-providers-google
apache-airflow-providers-snowflake
apache-airflow-providers-sqlite
beautifulsoup4
boto3
botocore
Flask==2.2.5
gunicorn
Jinja2
numpy
oauthlib
pandas
pandas-gbq
psutil
psycopg2-binary
pyarrow
pydata-google-auth
pyOpenSSL
PyYAML==5.3.1
redshift-connector
setuptools
snowflake-connector-python
snowflake-sqlalchemy
SQLAlchemy
str2bool